/****** General ***********/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

body {
  padding: 15px;
}

/****** Navigation ***********/
header {
  display: block;
  border-bottom: 3px solid #f2f2f2;
  margin: 30px 0;
  padding-bottom: 20px;
  border-bottom: none; 
}

header img {
  display: block;
  margin: auto;
  /* padding-left: 40px; TODO: revisar en los media query */
  min-width: 80px;
  width: 60px;  /* Revisar como esta en las media query */
}

header nav {
  margin: -15px;
  margin-top: 15px;
}

header ul {
  display: flex;
  margin-top: 30px;
}

header ul li {
  display: flex;
  justify-content: center;
  flex: 1;
}

header ul li .accommodation {
  color: #0065fc;
  border-bottom: 2px solid #0065fc;
  width: 100%;
  text-align: center;
  padding: 10px;
}

header ul li .activity {
  /* border-bottom: 2px solid #F2F2F2; */
  width: 100%;
  text-align: center;
  padding: 12px;
}

header ul li a {
  color: black;
  font-size: 19px;
}

header .border-blue {
  padding: 20px;
}

header .border-blue:hover {
  border-top: none;
  color: #0065fc;
}

/****** Search ***********/  
  .search-bar h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
  }

  .search-bar p {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px; 
    color: rgb(78, 77, 77);
  }

  .search-bar .map {
    display: flex;
    width: 100%; 
    justify-content: center;
  }
  
  .search-bar .fa-map-marker-alt {
    display: flex;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    max-height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    font-size: 18px
  }

  .search-bar input {
    height: 50px;
    width: 250px;
    border: #f2f2f2 1px solid;
    font-weight: 700;
    font-size: 18px;
    width: 80%;
  }
  .search-bar input::placeholder {
    color: black;
    padding-left: 30px; 
  }

  .search-bar .search {
    width: 50px;
    display: none;
  }

  .search-bar .fa-search {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #0065fc;
    color: white;
    cursor: pointer;
    width: 50px;
    margin-left: -10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  }

/****** Filter ***********/
.filters-section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.filters h3 {
  /* margin: 30px 5px 5px 10px; */
  font-size: 18px;
  width: auto;
  height: auto;
}

.filter-buttoms-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: white;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  justify-content: center;
  flex: 0 0 48%;
  box-sizing: border-box;
  gap: 10px
}

/* .filter-button i {
  margin-right: 10px;
  font-size: 20px;
} */

.filter-button img {
  margin-right: 8px;
}

.filter-button:hover {
  background-color: #f0f0f0;
}

.filter-button.selected {
  background-color: #e0efff;
}
.info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.info-section h2 {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 300;
  color: rgb(59, 59, 59);
  margin: 5px;
}

.info-section .circle-info {
  border: #F2F2F2 solid 2px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  color: #0065fc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.info-section i {
  font-size: 81%;
  
}

.info-section a {
  color: black;
}

/****** Acomodation ***********/
Main {
    display: flex;
    margin-top: 30px;
    margin-left: 0;
    flex-direction: column-reverse;
  }
  .accommodation-section {
    background: #F2F2F2;
    width: 90%;
    height: auto;
    border-radius: 20px;
    margin-right: 30px;
    margin-right: 0%;
    padding: 5%;
    background-color: white
  }
  .accommodation-section h2 {
    margin: 40px 0 20px 0px;
    font-size: 22px;
  }
  .bloc1 {
    display: flex;
    justify-content: space-around;
    gap: 30px;
  }
 
  .accommodation-section img {
    object-fit: cover;
    width: 100%;
    max-width: 335px;
    height: 124px;
    border-radius: 20px 25px 0 0;
    margin-left: -5px;
    margin-top: 5px;
  }
  
  .accommodation-section .border-picture {
    width: 100%;
    max-width: 335px;
    height: auto;
    background: white;
    margin-bottom: 20px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.062);
    transition: 0.8s;
    padding-bottom: 10px;
  }
  
  .accommodation-section .text-picture {
    margin-left: 15px;
    line-height: 25px;
  }
  
  .accommodation-section .star{
    font-size: 90%;
  }
  .bloc2{
    display: flex;
    justify-content: space-around;
    gap: 30px
  }
  
  .accommodation-section .colorblue{
    color: #0065fc;
  }
  .accommodation-section .colorgrey{
    color: #d6d1d1;
  }
  
  .accommodation-section span {
    margin-left: 40px;
    font-weight: 600;
    cursor: pointer;
    font-size: 113%;
    margin-left: -5px;
  }
  
/****** Popular *******/
  .popular-section {
    background: #F2F2F2;
    display: block;
    width: 100%;
    border-radius: 0;
    margin-left: -5%; 
    padding: 5% 5%;
  }
  
  .popular-section .title-graph {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
  }

  .popular-section h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
  }

  .fa-chart-line {
    color: #0065fc;
  }
  
  .fa-chart-line {
    font-size: 25px;
  }
  
  .popular-section .border-popular {
    display: flex;
    width: 335px;
    height: 146px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 15px;
    padding: 2px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.062);
    transition: 0.8s;
    gap: 15px;
  }
  
  .popular-section img {
    object-fit: cover;
    height: 146px;
    width: 111.67px;
    border-radius: 20px 0 0 20px;
    border-top: 5px;
    border-bottom: 5px;
    border-left: 5px;
  }
  
  .popular-section .title-popular {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .popular-section .colorblue {
    color: #0065fc;
    font-size: 80%;
  }
  .popular-section .colorgrey {
    color: #d6d1d1;
    font-size: 80%;
  }

/****** Activity ***********/
  .activity-section {
    display: flex;
    flex-direction: column;
    margin: 15px;
  }
  
  .activity-section h2 {
    margin: 40px 0 40px 0px;
    font-size: 22px;
  }

  .activity-section .text-picture {
    padding: 20px;
  }
  
  .activity-section .border-picture {
    border-radius: 20px;
  }

  .activity-section img {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    height: 141px;
    width: 100%;
  } 

  .things-to-do-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
  }

  .things-to-do-container .border-picture {
    box-shadow: 0px 3px 15px 0px #0000001A;  
    margin-bottom: 30px;
  }

/****** Footer ***********/
footer {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  /* width: 150%;  cause overflow*/ 
  margin: -15px;
  text-align: start;
  flex-direction: column;
  margin-top: 40px;
}

footer p b {
  font-size: 18px;
}

footer p {
  font-size: 16px;
  margin: 15px 0;
  padding-left: 5px;
}

footer .footer-column {
  flex: 1;
  margin-bottom: 15px;
}


/* ************Responsive section *************** */
@media (min-width: 550px) {

  .search-bar .map {
    display: flex;
    width: 100%;
    max-width: 338px;
    justify-content: flex-start;
  }
/* 
  .filters-section {
    margin-top: 25px;
  } */

  .filters {
    display: flex;
    /* flex-direction: row; */
    margin: 0;
    justify-content: flex-start;
    border-radius: solid 2px red;
  }

  .filter-buttoms-section {
    gap: 10px;
  }

  .filter-button {
    justify-content: start;
    flex: initial;
  }

  .filters h3 {
    width: 54px;
    height: 21px;
  }
  
  /****info******/
  .info-section .circle-info { 
    margin: 0 0 0 20px;
  }

}

@media screen and (min-width: 768px) {
* {  
    box-sizing: border-box;
  }

  body {
    margin: 25px;
    margin-bottom: 0;
  }

  /************* navigation bar ***************/

  header ul li .accommodation {
    color: #0065fc;
    border-bottom: none;
    border-top: 2px solid #0065fc;
    width: 100%;
    text-align: center;
  }


 header {
  display: flex;
  margin-top: 0;
  padding-bottom: 0;
  }

 header img {
    margin-left: 0;
    padding-left: 0;
  }

  header ul {
    display: flex;
    margin-top: -60px;
    padding: 5px;
    gap: 30px;
  }

  header ul li {
    margin-right: 80px;
  }

  header .border-blue {
    padding: 0;
  }
  
  header .accommodation {
    padding: 5px;
    color: none;
  }

  header .border-blue:hover {
    border-bottom: none;
    border-top: none;
    color: none;
    text-decoration: none;
  }

  /* ************ search ***************/
   .search-bar .search {
    border-radius: 0 15px 10px 0;
    height: 50px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    background-color: #0065fc;
    cursor: pointer;
    margin-top: unset;
  }
  
   .search-bar .fa-search {
    color: transparent;
    display: none;
  }
   
}

.info-section .circle-info { 
  margin: 0;
}

@media screen and (min-width: 992px){
  /******* main **********/
   main {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
   }
   .accommodation-section  {
    width: 968px;
    background: #F2F2F2;
   }

  .accommodation-section .border-picture {
    width: 268px;
  }

  .popular-section {
    margin-left: 0;
  }

  .popular-section-items {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .accommodation-section img {
    width: 98%;
    margin-left: 3px;
  }

  .things-to-do-container {
    flex-direction: row;
    gap: 30px;
    justify-content: space-around;
  }

   footer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  footer .footer-column {
    padding: 10px 0;
    text-align: center;
  }
}


